<a href="https://colab.research.google.com/github/ngyoketing/nytcoder/blob/main/L1_20210915.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Scalar
a = 1 #int
b = 4.1 #float

# Non-scalar
name = 'Yoke Ting' #string
M = {1, 3, 6, 9} 
car = ['Proton','Audi','BMW'] #list(mutable) 
car = ('Proton','Audi','BMW') #tuple(immutable) 
car = {'Proton','Audi','BMW'} #set

In [ ]:
# Operators
num = 9%2
print(num)

1

In [ ]:
# Display output
print('Hi..Welcome to BEP2073')
print("Hi..Welcome to BEP2073")

Hi..Welcome to BEP2073
Hi..Welcome to BEP2073

In [ ]:
# Multiline Strings
a = '''I'm Ng Yoke Ting,
live in K.L.,
nice to meet you all, 
wish u hav a nice day. '''
print(a)

I'm Ng Yoke Ting,
live in K.L.,
nice to meet you all,
wish u hav a nice day.

In [ ]:
a = 1
b = 2
print(a)
print(b)

1
2

In [ ]:
# to assign values to multiple variables in one line
a,b = 1,2
print(a)
print(b)

1
2

In [ ]:
c = a + b
print('C =' ,c)

d = 4/2
print('D = %0.1f' %d)

C = 3
D = 2.0

In [ ]:
# input('')
Name = input('Type your name: ')
print('Welcome',Name)

Type your name: yt
Welcome yt

In [ ]:
# int()
# y = 2x + 1
x_val = input("Specify value of x:")
x = int(x_val) # to convert from string to int
y = 2*x + 1
print('y = ',y)

Specify value of x:2
y =  5

In [ ]:
# Exercise 1 method 1
x = input("x = ")
x = int(x)
y = x**0.5
print("square-root of %d is %.2f." %(x, y))

x = 2
square-root of 2 is 1.41.

In [ ]:
# Exercise 1 method 2
x = int(input("x = "))
y = x**0.5
print("square-root of %d is %.2f." %(x, y))

x = 2
square-root of 2 is 1.41.

In [ ]:
# Google question
a = 2
x = 3*a + 2
y = x**0.15
print("The answer is", y)

The answer is 1.3660402567543954

In [1]:
# Google question
# ask the user to enter 2 numbers; a and b. Your program to calculate and display the square root of a/b in a statement with 3 decimal points. 
a = int(input("a = "))
b = int(input("b = "))
x = (a/b)**0.5 
print("The square root of %d/%d is %.3f" %(a, b, x))

a = 4
b = 1
The square root of 4/1 is 2.000

# Exercises

In [ ]:
# Exercise 1
radius = 1.2 
import math
print(math.pi) # to get pi value
area_of_circle = (math.pi)*radius**2
print('The area of circle is', area_of_circle)

3.141592653589793
The area of circle is 4.523893421169302

In [ ]:
# Exercise 2
first_name = input('Enter your first name: ')
last_name = input('Enter your last name: ')
print(last_name + " " + first_name)

Enter your first name: yt
Enter your last name: ng
ng yt

In [ ]:
first_name = input('Enter your first name: ')
last_name = input('Enter your last name: ')
name = f'{last_name} {first_name}' #curlybraces{} to define place holders for variables in the strings 
print(name)

Enter your first name: yt
Enter your last name: ng
ng yt

In [ ]:
name = str(input('Enter your name: '))
split = name.split(' ')
split.reverse()
print(f'Reversed name: {" ".join(split)}')

Enter your name: ng yoke ting
Reversed name: ting yoke ng

In [ ]:
name = input('Enter your name: ')
split = name.split() #split() 
split.reverse() #reverse() 
joined = ' '.join(split)
print('Reversed name:', joined)

Enter your name: ng yoke ting
Reversed name: ting yoke ng

In [ ]:
# Exercise 4 
sentence = 'UCSI University is a comprehensive university in Kuala Lumpur, Malaysia.'
sentence = sentence.casefold() #lowercase

vowel = 0
for alphabet in sentence:
  if alphabet in ('a',"e","i","o","u"):
    vowel += 1
print('The total number of vowel is', vowel)

The total number of vowel is 27

In [ ]:
# Exercise 5
x = 5
print('The value of x is %d.' %x)

The value of x is 5.

In [ ]:
# Exercise 3
count = 10
multiplication = 0

if count < 10:
  values = int(input('Enter the value: '))
  for value in values:
    multiplication = multiplication * value
    
print(multiplication)

0

In [ ]:
# Exercise 6
X = [10, 20, 20, 20]
Y = [10, 25, 30, 40]
total_possible_match = 0

for xvalue in X:
  for yvalue in Y: 
    Z = xvalue + yvalue
    if Z > 50:
      total_possible_match += 1
print(total_possible_match)

3